<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.sm.app.repository.CartRepository">

<!--    <resultMap id="cartResultMap" type="CartDto">-->
<!--        <id column="cart_user_id" property="cartUserId"/>-->
<!--        <id column="cart_item_id" property="cartItemId"/>-->
<!--        <result column="cart_count" property="cartCount"/>-->
<!--        <result column="cart_reg_date" property="cartRegDate"/>-->
<!--        <association property="itemdto" javaType="ItemDto">-->
<!--            <id column="item_id" property="itemId"/>-->
<!--            <result column="item_name" property="itemName"/>-->
<!--            <result column="item_price" property="itemPrice"/>-->
<!--            <result column="img_name" property="imgName"/>-->
<!--            <result column="reg_date" property="regDate"/>-->
<!--            <result column="update_date" property="updateDate"/>-->
<!--        </association>-->
<!--    </resultMap>-->
    <select id="findByName" resultType="cartDto" parameterType="String">
        select
            cart_user_id,
            cart_item_id,
            cart_count,
            cart_reg_date,
            item_name,
            item_price,
            img_name
        from cart as c
                 inner join item i on c.cart_item_id = i.item_id
        where i.item_name LIKE CONCAT('%', #{itemName}, '%')
        and c.cart_user_id = #{cartUserId}
    </select>

    <select id="selectOne" parameterType="cartDto" resultType="cartDto">
        SELECT * FROM cart WHERE cart_user_id=#{cartUserId}
                             and  cart_item_id=#{cartItemId}
    </select>
    <select id="select" resultType="cartDto" fetchSize="100">
        select
            cart_user_id,
            cart_item_id,
            cart_count,
            cart_reg_date,
            item_name,
            item_price,
            img_name
        from cart as c
                 inner join item i on c.cart_item_id = i.item_id
    </select>
    <insert id="insert" parameterType="cartDto">
        insert into cart values (#{cartUserId},#{cartItemId},#{cartCount},SYSDATE() )
            on duplicate key update cart_count= cart_count+#{cartCount}
    </insert>
    <update id="update" parameterType="cartDto">
        UPDATE cart SET cart_count=#{cartCount} WHERE cart_user_id=#{cartUserId}
                                         and  cart_item_id=#{cartItemId}
    </update>
    <delete id="delete" parameterType="cartDto">
        DELETE FROM cart WHERE cart_user_id=#{cartUserId}
                               and  cart_item_id=#{cartItemId}
    </delete>
</mapper>
