<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.sm.app.repository.CustRepository">


    <select id="findByName" resultType="CustDto" parameterType="String">
        SELECT * FROM cust WHERE name LIKE CONCAT('%', #{name}, '%')
    </select>
    <select id="getpage" resultType="custDto">
        SELECT * FROM cust
    </select>
    <select id="getfindpage" resultType="custDto" parameterType="search">
        SELECT * FROM cust WHERE 1=1
        <if test="keyword == 'id'">
            AND cust_id LIKE CONCAT('%', #{search}, '%')
        </if>
        <if test="keyword == 'name'">
            AND cust_name LIKE CONCAT('%', #{search}, '%')
        </if>
    </select>


    <select id="selectOne" parameterType="String" resultType="custDto">
        SELECT * FROM cust WHERE cust_id=#{id}
    </select>
    <select id="select" resultType="custDto">
        SELECT * FROM cust
    </select>
    <insert id="insert" parameterType="custDto">
        INSERT INTO cust VALUES (#{custId},#{custPwd},#{custName})
    </insert>
    <update id="update" parameterType="custDto">
        UPDATE cust SET cust_pwd=#{custPwd},cust_name=#{custName} WHERE cust_id=#{custId}
    </update>
    <delete id="delete" parameterType="String">
        DELETE FROM cust WHERE cust_id=#{id}
    </delete>

</mapper>