<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.sm.app.repository.CarRepository">

    <select id="findByName" resultType="CarDto" parameterType="String">
        SELECT * FROM car WHERE car_model LIKE CONCAT('%', #{carModel}, '%')
    </select>
    <select id="selectOne" parameterType="Integer" resultType="CarDto">
        SELECT * FROM car WHERE car_id=#{carId}
    </select>
    <select id="select" resultType="CarDto">
        SELECT * FROM car
    </select>
    <insert id="insert" parameterType="CarDto">
        INSERT INTO car (car_id, car_model, img_name, car_price, car_reg_date)
        VALUES (#{carId},#{carModel},#{imgName},#{carPrice}, #{carRegDate})
    </insert>
    <update id="update" parameterType="CarDto">
        UPDATE car SET car_price=#{carPrice},img_name=#{imgName} WHERE car_id=#{carId}
    </update>
    <delete id="delete" parameterType="Integer">
        DELETE FROM car WHERE car_id=#{carId}
    </delete>
    <select id="getpage" resultType="carDto">
        SELECT * FROM car
    </select>
    <select id="getfindpage" resultType="carDto" parameterType="search">
        SELECT * FROM car WHERE 1=1
        <if test="keyword == 'id'">
            AND car_id LIKE CONCAT('%', #{search}, '%')
        </if>
        <if test="keyword == 'name'">
            AND car_model LIKE CONCAT('%', #{search}, '%')
        </if>
    </select>

</mapper>