<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.sm.app.repository.CartRepository">

    <select id="selectOne" parameterType="cartDto" resultType="CartDto">
        select
            cart_user_id,
            cart_item_id,
            cart_count,
            cart_reg_date,
            item_name,
            item_price,
            img_name
        from cart as c
                 inner join item i on c.cart_item_id = i.item_id
        WHERE cart_item_id=#{cartItemId} and cart_user_id=#{cartUserId}
    </select>

    <select id="select" parameterType="cartDto" fetchSize="100">
        select
            cart_user_id,
            cart_item_id,
            cart_count,
            cart_reg_date,
            item_name,
            item_price,
            img_name
        from cart as c
                 inner join item i on c.cart_item_id = i.item_id
    </select>

    <select id="selectByCustId" parameterType="cartDto" fetchSize="100">
        select
            cart_user_id,
            cart_item_id,
            cart_count,
            cart_reg_date,
            item_name,
            item_price,
            img_name
        from cart as c
                 inner join item i on c.cart_item_id = i.item_id
        where cart_user_id=#{cartUserId}
    </select>

    <insert id="insert" parameterType="cartDto">
        insert into cart values (#{cartUserId},#{cartItemId},#{cartCount},SYSDATE() )
            on duplicate key update cart_count= cart_count+#{cartCount}
    </insert>
    <update id="update" parameterType="cartDto">
        UPDATE cart SET cart_count=#{cartCount} WHERE cart_user_id=#{cartUserId} and  cart_item_id=#{cartItemId}
    </update>
    <delete id="delete" parameterType="cartDto">
        DELETE FROM cart WHERE cart_item_id=#{cartItemId} and cart_user_id=#{cartUserId}
    </delete>


</mapper>