<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="custRepository" class="edu.sm.cust.repository.CustRepository"></bean>

    <bean id="custOracleRepository" class="edu.sm.cust.repository.CustOracleRepository"></bean>

    <bean id="custService" class="edu.sm.cust.service.CustService">
        <property name="repository" ref="custOracleRepository"/>
<!--        <constructor-arg ref="custRepository"></constructor-arg>-->
    </bean>
</beans>